%h2 Results

%table#results
  %thead
    %tr
      %th Gene
      //%th Locus
      %th Type
      %th Len
      %th Min
      %th Log
      %th 3
      %th 6
      %th 12
      %th 18
      %th 24
      %th 30
  %tbody
    - for wt in @all
      %tr
        %td.small
          =link_to wt.gene, "search?one=yes&id="+wt.id.to_s
        //%td.small
        //  =wt.locus
        %td.small
          =wt.genetype
        %td.small
          =(wt.locusstart - wt.locusend).abs
        %td.small
          ="%.2f" % wt.absmindiff
        %td.small
          ="%.2f" % wt.abslogmindiff unless wt.abslogmindiff == nil
        %td.small
          =wt.express3
        %td.small
          =wt.express6
        %td.small
          =wt.express9
        %td.small
          =wt.express12
        %td.small
          =wt.express18
        %td.small
          =wt.express24

:javascript
  $(document).ready(function() { 
          $("#results").tablesorter(); 
      } 
  ); 

