%h2 Results

%table#results
  %thead
    %tr
      %th Gene
      %th Locus
      %th Type
      %th Min
      %th Dir
      %th 3
      %th 6
      %th 9
      %th 12
      %th 18
      %th 24
  %tbody
    - for wt in @all
      %tr
        %td.small
          =link_to wt.gene, "search?search="+wt.gene
        %td.small
          =wt.locus
        %td.small
          =wt.genetype
        %td.small
          ="%.2f" % wt.absmindiff
        %td.small
          =wt.consistent
        %td.small
          =wt.express3
        %td.small
          =wt.express6
        %td.small
          =wt.express9
        %td.small
          =wt.express12
        %td.small
          =wt.express18
        %td.small
          =wt.express24

:javascript
  $(document).ready(function() { 
          $("#results").tablesorter(); 
      } 
  ); 

